.parentBox{
    height: 100vh;
    width:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button {
    position: relative;
    top: 0px;
    left: 0px;

    margin-left: 40px;

    width: 100px;
    height: 40px;
    border-radius: 60px;

    background-color: aquamarine;
    visibility: visible;
}
#button1 {
    position: relative;
    margin-right: 40px;
    

    width: 100px;
    height: 40px;
    border-radius: 60px;

    background-color: aquamarine;
    visibility: visible;
}
.buttonSpan{
 position: relative;
 margin: auto;
}
.box_new {
border: 10px solid black;
background-color: aliceblue;
width: 400px;
height: 300px;
padding: 10px;

margin: 0 auto;

display: flex;
justify-self: center;
align-items:center;
flex-direction: column;

}
#giphy {
    height: 100px;
    width: 100px;

    visibility: visible;
}
#fname,#labelName{
    display: none;
}
